


.navegacion ul {
    list-style: none;
    margin: 16px;
    padding: 0;
    text-align:center;
  }
.navegacion li {
    display: inline-block;
  }

.navegacion a {
    display: block;
    padding: 6px 16px;
    background-color:#395443;
    color:#cea452;
    text-decoration: none;
    border-radius: 0 2px 2px 0;
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.45);
    font-family: 'Anton', sans-serif ;
    list-style: none; 
    font-style: oblique; 
    margin: 20px;
    border-left: 4px solid goldenrod;
}

.navegacion a:hover {
      color: #000;
      box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.45);
}

.tabla {
    background-color:aquamarine; 
    color:rgb(15, 35, 218) ; 
    text-align: justify;
}


.form {
    color:black ; 
    font-style: oblique; 
    text-align: center;
    font-family: "Rubik-Medium";
}



.pag {
    background: linear-gradient(to left, #e4b1a5, #f7c49e);
    z-index: 1;
    
}
.arriba {

    background-color: #ffe7d0 ;
    color:black !important; 
    background-repeat: no-repeat;
   background-position:center;
   background-size: contain;
    /*background-image: url(../img/enc1.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    background-color: #ffe7d0;
    width: 1900px; height: 350px; */
    
}



.pieDePagina{
    /*background-color: rgb(160, 150, 150, 0.75);*/
    display: flex;  flex-direction: row; 
   justify-content: space-between;
   border-top: black solid 1px;
}

.titule {
    color:black ; 
    font-style: oblique; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
}

.tituleDos {
    color: black; 
    font-style: oblique; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; 
}

.texto {
    color: #C08ADD ; 
    font-family: 'Noto Sans JP', sans-serif;
}


.tituleTres{
    color:black; 
    font-style: oblique; 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px;
    text-align: center;

}


        

.encabezado{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
 }
 



.redes{
    margin: 20px;
    text-align: center;
    
}

.facebook{
    color:blue; 
    margin: 5px;
}

.twitter{
    color:rgb(14, 162, 231);
    margin: 5px;
}

.instagram{
    color: black;
    color: rgba(255, 0, 128, 0.747);
    margin: 5px;
}


.redesNombre{
    color: black;
    margin: 5px;
    font-style: oblique; 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
}

/* FOOTER MARCA DE AGUA */
.copy{
    background: #101010;
    color: #c7c7c7;
    text-align:center;
    
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.copy a:hover{
    color: #c7c7c7;
}

.information a{
    text-decoration: none;
    color: #f9f9f9;
}



.information a:hover{
    color: #c7c7c7;
}

/* NAVBAR */
.navbar{
    /*background:#ffd983!important;*/
    background:#80beaf;
}

.navbar .primordial{
    /*color:goldenrod!important;*/
    color:#d1dce2;
    font-family: 'Anton', sans-serif!important;
    text-transform: uppercase!important;
    font-size:18px;
    font-style: oblique;
    letter-spacing: 1px; 
}
.navbar .primordial:hover{
    /*color:#000!important;*/
    color:#b3ddd1;
}
.dropdown-menu{
    /* background:#ffd983!important; */
    background:#80beaf;
    border:1px solid #ffd983!important;
    font-size: 20px!important;
}
.dropdown-item:hover{
    /* background: #ffeab9; */
    background:#80beaf;
}

#primero{
    color:#c1e6fa;
    font-family: 'Anton', sans-serif!important;
    text-transform: uppercase!important;
    font-size:18px;
    font-style: oblique;
    letter-spacing: 1px; 
}

.car-logo {
    font-size:30px;
    color:rgb(17, 16, 16);
    width: 50px;
    height: 50px;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.car-logo:hover{
    color:rgb(36, 36, 36);
    text-decoration: none;
}

/*--------------------CONTACTO INICIAL---------------------------- */
#titulo{
    color:#8da47e!important;
  }
  
  h1{
    color:#8da47e!important;
  }
  
  .seccion-contacto{
      color:#395442;
  }  
  .dentroContacto { 
      text-align:center;
      font-style: italic;
      font-size: 35px;
    }
    
    .formulario { 
    text-align:center;
    }
    
    .datos { 
    text-align:center;
    color:#395442;
  }
  
  .datos span{
    color:#395442;
  }
    
    .wpp{
      color:black;
    }
  
  .fa-phone-square{
    color:#395442;
    font-size: 30px;
  }
  .fa-envelope{
    font-size: 30px;
  }

  .nuevo{
    background:  #f2e3b4!important;
    color: #395442;
    font-family: sans-serif;
    text-align:center!important;
 }    
    /*--------------------CONTACTO FINAL---------------------------- */
   /*----------------------------  SALE ---------------------------- */
   article header {
    display: flex;
  }
  
  article strong {
    margin-right: 0.75rem;
  }
  
  .author {
    text-decoration: none;
  }
  
  .author div {
    color: rgba(6, 63, 252, 0.7);
    font-weight: 700;
  }
  
  .author span {
    border-bottom: .1rem solid hsl(236, 77%, 50%);
    color: black;
  }
  
  article > * {
    position: relative;
    z-index: 10;
  }
  
  article p {
    color: black;
    line-height: 1.4;
  }
  
  article footer ul {
    display: flex;
    
    margin: 0;
    padding: 0;
    
    list-style-type: none;
  }
  
  article footer li {
    margin-right: 1rem;
  }
  
  article footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .15rem .75rem;
    
    border-radius: 5rem;
    color:olivedrab;
    text-decoration: none;
  }
  
  article footer a:hover,
  article footer a:focus {
    background-color: blanchedalmond;
    color: black;
  }

  .nuevo{
    background:  #f2e3b4!important;
    color: #395442;
    font-family: sans-serif;
    text-align:center!important;
 }    

 .tituloSale{
     color:black;
 }

  /* --------------------SALE-------------------- */

