
.titulo{
    color:#491e21; 
    font-style: oblique; 
    font-weight: bold; 
    text-align: left;
    /*font-family: 'Anton', sans-serif;*/
    text-align: center;
    letter-spacing: 5px;
}

.navegacion ul {
    list-style: none;
    margin: 16px;
    padding: 0;
    text-align:center;
  }
.navegacion li {
    display: inline-block;
  }

.navegacion a {
    display: block;
    padding: 6px 16px;
    background-color:#395443;
    color:#cea452;
    text-decoration: none;
    border-radius: 0 2px 2px 0;
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.45);
    font-family: 'Anton', sans-serif ;
    list-style: none; 
    font-style: oblique; 
    margin: 20px;
    border-left: 4px solid goldenrod;
}

.navegacion a:hover {
      color: #000;
      box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.45);
}

.tabla {
    background-color:aquamarine; 
    color:rgb(15, 35, 218) ; 
    text-align: justify;
}


.form {
    color:black ; 
    font-style: oblique; 
    text-align: center;
    font-family: "Rubik-Medium";
}



.pag {
    background: linear-gradient(to left, #e4b1a5, #f7c49e);
    z-index: 1;
    
}
.arriba {

    background-color: #ffe7d0 ;
    color:black !important; 
    background-repeat: no-repeat;
   background-position:center;
   background-size: contain;
    /*background-image: url(../img/enc1.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    background-color: #ffe7d0;
    width: 1900px; height: 350px; */
    
}



.pieDePagina{
    /*background-color: rgb(160, 150, 150, 0.75);*/
    display: flex;  flex-direction: row; 
   justify-content: space-between;
   border-top: black solid 1px;
}

.titule {
    color:black ; 
    font-style: oblique; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
}

.tituleDos {
    color: black; 
    font-style: oblique; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; 
}

.texto {
    color: #C08ADD ; 
    font-family: 'Noto Sans JP', sans-serif;
}


.tituleTres{
    color:black; 
    font-style: oblique; 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px;
    text-align: center;

}

.cuadroHome {
        
        border: 5px solid black;
        padding: 50px;
        margin: auto;
}

.cuadroProductos {
        width: 200px;
        border: 5px solid black;
        padding: 50px;
        margin: auto;
      
}

.cuadroComprar{
    width: 210px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
}

.cuadroContacto{
    width: 150px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
}
        

.encabezado{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
 }
 

.contacto {
    display: flex;  flex-direction: row; 
   justify-content: space-around;
}

.redes{
    margin: 20px;
    text-align: center;
    
}

.facebook{
    color:blue; 
    margin: 5px;
}

.twitter{
    color:rgb(14, 162, 231);
    margin: 5px;
}

.instagram{
    color: black;
    color: rgba(255, 0, 128, 0.747);
    margin: 5px;
}

.maps{
    color:palevioletred;
    margin:5px;
}

.redesNombre{
    color: black;
    margin: 5px;
    font-style: oblique; 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
}

/*
.lista li a{
    list-style: none; 
    text-decoration: none;  
    font-style: oblique; 
    color: #00ffb8 ; 
    font-family: 'Anton', sans-serif ;
    margin: 20px;
}

.lista li{
    display: inline-block;

.navegacion{
    background-color: #282520 ;
    text-align: center;
    border: 1px solid black;
}
}*/

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: stretch;
}

 .container {
   display: grid;
   grid-gap: 10px; 
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows: 75px; 
   grid-auto-flow: dense;  
} 

 .horizontal{
     grid-column: span 5; 
}

.vertical{
     grid-row: span 4; 
}

.big {
     grid-column: span 4; 
     grid-row: span 4; 
}

.busquedad{
    margin: 20px;
    text-align: center;
    
}


.busquedadCuadro {
    background-color: #cccccccb;
    border: none;
    border-bottom: solid 1px black;
}

.usuario{
    margin: 20px; 
    color: #f007;
    font-size: 50px;
}

.wpp{
    color: black;
    margin: 5px;
    
}
